<header id="siteHeader" role="banner">
    <a href="#bodyHome" class="skip-link">Skip to main content</a>
    <div id="siteInfo">
        <picture id="logo"> 
            <source type="image/webp" srcset="{{ 'assets/images/logo.webp' | relative_url }}">
            <img alt="Decorative glitchy digital logo" src="{{ 'assets/images/logo512.png' | relative_url }}">
        </picture>
        <a href="/" id="homeLink"><h1>Limentum</h1></a>
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger-menu" role="button" aria-controls="headerNav" aria-expanded="false" aria-label="Open navigation menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </label>
    <nav id="headerNav" aria-label="Header navigation">
        <ul>
            <li><a href="/" {% if page.url == "/" %}id="currentPage"{% endif %}>Home</a></li>
            <li><a href="/vestige/" {% if page.url contains "/vestige/" %}id="currentPage"{% endif %}>Vestige</a></li>
            <li><a href="https://limentum.com">limentum.com</a></li>
            <li><a href="https://linktr.ee/limentum">social links</a></li>
        </ul>
    </nav>
</header>
<hr>