@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
a:link {
    color: var(--secondary-color);
}
a:hover {
    color: var(--lightgrey);
}
/* for my quirky quips */
#useless {
    display: none;
}
.post > h2 > a {
    color: var(--textcolor);
}
article.post p span.altFont {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
/* for chapter articles, spaces the paragraph text and indents the first line */
.post, nav#breadcrumb {
    margin: auto;
    width: 75vw;
}
    article.post p {
        font-size: 1.125rem;
        text-indent: 1rem;
        line-height: 2rem;
    }
article.post figure p {
    text-indent: 0;
}
article.post figure p:nth-child(even) {
    text-indent: 2rem;
}
nav#chapterNav ul {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

nav#chapterNav ul li {
    border-left: 1px solid var(--textcolor);
    border-right: 1px solid var(--textcolor);
}
    nav#chapterNav ul li a {
        display: block;
        transition: color 0.25s ease, background-color 0.25s ease;
        font-size: 1rem;
        padding: 1.5rem;
        text-decoration: none;
        color: var(--textcolor);
    }
    nav#chapterNav ul li a:hover {
        color: var(--backgroundcolor);
        background-color: var(--textcolor);
    }
    nav#chapterNav ul li a:focus {
        color: var(--backgroundcolor);
        background-color: var(--textcolor);
    }
/* centers content and gives it room to breathe */
.center {
    text-align: center;
    border: 0.1rem double;
    padding: 1rem 2rem;
    margin: 1rem auto;
    width: fit-content;
}
    article.post .center > p {
        text-indent: 0;
    }
#tableOfContents {
    line-height: 1.5rem;
    font-size: 1rem;
}
#tableOfContents table {
    margin: auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}
    #tableOfContents table caption {
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    #tableOfContents table th, #tableOfContents table td {
        text-align: left;
        border: 1px solid;
        color: var(--textcolor);
        padding-left: 0.5rem;
    }
    table tbody tr td a {
        display: block;
        font-size: 1.5em;
        padding: 0.5rem;
    }
/* Style the list */
ul.breadcrumb {
  padding: 0.6250em 1rem;
  list-style: none;
  background-color: var(--lightblack);
}
body.light-mode ul.breadcrumb {
    background-color: var(--lightgrey);
}
    /* Display list items side by side */
    ul.breadcrumb li {
    display: inline;
    }
    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {
    padding: 0.5rem;
    color: var(--textcolor);
    content: "/\00a0";
    }
        /* Add a color to all links inside the list */
        ul.breadcrumb li a {
        text-decoration: none;
        }
        /* Add a color on mouse-over */
        ul.breadcrumb li a:hover {
        color: lightgray;
        text-decoration: underline;
        }
@media (max-width: 1200px) {
    .post {
        width: 85%;
    }
}
@media (max-width: 1000px) {
    .post {
        width: 90%;
    }
}
@media (max-width: 800px) {
    .post {
        width: 95%;
    }
}