@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* for my quirky quips */
#useless {
    display: none;
}
.body article p.altFont {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
/* for chapter articles, spaces the paragraph text and indents the first line */
.body {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
    .body article {
        margin: auto;
    }
    .body article p {
        font-size: 1.125rem;
        text-indent: 1rem;
        line-height: 2rem;
    }
.body article figure p {
    text-indent: 0;
}
.body article figure p:nth-child(even) {
    text-indent: 2rem;
}
nav#chapterNav ul {
    margin: auto;
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 0;
}
    #previous {
        margin: 1rem 0 1rem auto;
    }
    #next {
        margin: 1rem auto 1rem 0;
    }
    #onlyNext {
        margin: 1rem auto;
    }
    nav#chapterNav ul li a {
        transition: color 0.25s ease, background-color 0.25s ease;
        font-size: 1rem;
        padding: 1rem;
        text-decoration: none;
        color: white;
    }
    nav#chapterNav ul li a:hover {
        color: black;
        background-color: white;
    }
    nav#chapterNav ul li a:focus {
        color: black;
        background-color: white;
    }
/* centers content and gives it room to breathe */
.center {
    text-align: center;
    border: 0.1rem;
    border-style: double;
    padding: 2rem;
    margin: auto;
    width: fit-content;
}
@media (max-width: 1200px) {
    .body {
        width: 85%;
    }

}
@media (max-width: 1000px) {
    .body {
        width: 90%;
    }
}
@media (max-width: 800px) {
    .body {
        width: 95%;
    }
}
#tableOfContents {
    line-height: 1.5rem;
}
/* Style the list */
ul.breadcrumb {
  padding: 0.6250em 1rem;
  list-style: none;
  background-color: #222222;
}
    /* Display list items side by side */
    ul.breadcrumb li {
    display: inline;
    font-size: 1.1250em;
    }
    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {
    padding: 0.5rem;
    color: white;
    content: "/\00a0";
    }
        /* Add a color to all links inside the list */
        ul.breadcrumb li a {
        color: lightskyblue;
        text-decoration: none;
        }
        /* Add a color on mouse-over */
        ul.breadcrumb li a:hover {
        color: lightgray;
        text-decoration: underline;
        }