@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    background-color: black;
    color: white;
    font-family: 'Roboto', Helvetica, Calibri, Arial, sans-serif;
    margin: 0;
}
.body {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: justify;
}
hr {
    margin: 0;
    border: 0;
    border-top: 0.1rem solid #000;
    border-color: white;
}
a {
    text-underline-offset: 0.25rem;
}
#siteInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    #siteInfo #logo {
        margin: 0.5rem 0.5rem 0.5rem 2rem;
        max-height: 10%;
        width: auto;
        border: 0.1rem;
        border-style: solid;
    }
    #siteInfo h1 {
        color: white;
    }
#siteHeader {
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    #siteHeader nav ul {
        font-size: 0rem;
        padding: 0;
        margin-right: 1.5rem;
        list-style-type: none;
    }
        #siteHeader nav ul li {
            display: inline;
            margin: 0;
            line-height: 2rem;
        }
            #siteHeader nav ul li a {
                transition: color 0.25s ease, background-color 0.25s ease;
                text-decoration: none;
                color: white;
                font-size: 1.2rem;
                padding: 0.5rem;
            }
            #siteHeader nav ul li a:hover {
                background-color: white;
                color: black;
            }
            #siteHeader nav ul li a:focus {
                background-color: white;
                color: black;
            }
#siteFooter {
    background-color: black;
    position: sticky;
    bottom: 0;
}
    #siteFooter div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: 0 0 0 2rem;
    }
    /* footerNav */
    #siteFooter div #footerNav ul {
        display: inline-block;
        font-size: 0;
    }
        #siteFooter div #footerNav li {
            padding: 1rem 0;
            display: inline-block;
            list-style-type: none;
        }
            #footerNav li a {
                transition: color 0.25s ease, background-color 0.25s ease;
                padding: 1rem;
                font-size: 1rem;
                color: lightgoldenrodyellow;
                text-decoration: none;
            }
            #siteFooter div #footerNav li a:hover {
                color: black;
                background-color: white;
            }
            #siteFooter div #footerNav li a:focus {
                color: black;
                background-color: white;
            }
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
}
    .skip-link:focus {
        top: 0;
    }
#bandcampPlayer {
    display: block;
    border: 0;
    width: 700px;
    height: 472px;
    overflow: hidden;
    margin: 1rem auto;
}
    @media (max-width: 700px) {
        #bandcampPlayer {
            width: 325px;
            height: 786px;
        }
    }
@media (max-width: 700px) {
    #siteHeader h1 {
        font-size: 1.5rem;
    }
    #siteHeader nav ul {
        margin-right: 1rem;
    }
    #siteHeader nav ul li a {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.17rem;
    }
    h3 {
        font-size: 1rem;
    }
    #siteFooter div nav ul li a {
        font-size: 0.83rem;
    }
}
@media (max-width: 500px) {
    #siteInfo #logo {
        margin: 0.5rem;
    }
    #siteHeader h1 {
        font-size: 1.17rem;
    }
    #siteHeader nav ul {
        margin-right: 0.5rem;
    }
    #siteHeader nav ul li a {
        font-size: 0.83rem;
    }
    #siteHeader {
        padding-top: 0.25rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.83rem;
    }
    #siteFooter div #footerNav ul li a {
        padding: 0.5rem;
        font-size: 0.7rem;
    }
    #siteFooter div {
        margin: 0 0 0 1rem;
    }
    #siteFooter div small {
        padding: 0.25rem;
    }
}
@media (max-width: 450px) {
    #siteInfo {
        flex-direction: column;
    }
    #siteHeader {
        flex-direction: column;
    }
    #siteHeader nav ul {
        margin-right: 0.1rem;
    }
}